@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.simple-editor-wrapper {
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--tt-gray-light-900);

  width: 100%;
  height: auto;
  min-height: 400px;
  overflow: visible;
  font-family: "Inter", sans-serif;
  color: var(--tt-theme-text);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
  border-radius: 0.75rem;

  ::-webkit-scrollbar {
    width: 0.25rem;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--tt-scrollbar-color) transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--tt-scrollbar-color);
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

.tiptap.ProseMirror {
  font-family: "DM Sans", sans-serif;
}

.simple-editor-content {
  max-width: 100%;
  width: 100%;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  min-height: 350px;
  padding: 1.5rem;
  outline: none;
}

@media screen and (max-width: 480px) {
  .simple-editor-content .tiptap.ProseMirror.simple-editor {
    padding: 1rem;
  }
}
