.tiptap.ProseMirror {
  h1,
  h2,
  h3,
  h4 {
    position: relative;
    color: inherit;
    font-style: inherit;
  }

  > h1:first-child,
  > h2:first-child,
  > h3:first-child,
  > h4:first-child,
  > .ProseMirror-widget + h1,
  > .ProseMirror-widget + h2,
  > .ProseMirror-widget + h3,
  > .ProseMirror-widget + h4 {
    margin-top: 0;
  }

  h1 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 1em;
    margin-bottom: 0.25em;
  }

  h2 {
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
  }

  h3 {
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 0.6em;
    margin-bottom: 0.15em;
  }

  h4 {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
  }
}
