.tiptap.ProseMirror {
  h1,
  h2,
  h3,
  h4 {
    position: relative;
    font-style: inherit;
    letter-spacing: -0.01em;
  }

  > h1:first-child,
  > h2:first-child,
  > h3:first-child,
  > h4:first-child,
  > .ProseMirror-widget + h1,
  > .ProseMirror-widget + h2,
  > .ProseMirror-widget + h3,
  > .ProseMirror-widget + h4 {
    margin-top: 0;
  }

  h1 {
    font-size: 1.75em;
    font-weight: 800;
    line-height: 1.3;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: #0f172a;
    padding-bottom: 0.3em;
    border-bottom: 2px solid #e2e8f0;
  }

  h2 {
    font-size: 1.45em;
    font-weight: 700;
    line-height: 1.35;
    margin-top: 1.4em;
    margin-bottom: 0.4em;
    color: #1e293b;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #f1f5f9;
  }

  h3 {
    font-size: 1.2em;
    font-weight: 650;
    line-height: 1.4;
    margin-top: 1.2em;
    margin-bottom: 0.3em;
    color: #334155;
  }

  h4 {
    font-size: 1.05em;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 1em;
    margin-bottom: 0.25em;
    color: #475569;
  }
}
